<div class="row">
    <div class="col-12">
        <button class="btn btn-success" (click)="save()">Guardar</button>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sucursal</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of branchOffice.comics">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>
                    <button class="btn btn-danger" (click)="item.total = item.total+1">+</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="item.total = item.total-1">-</button>
                </td>
                <td>{{ item.total }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>