<div class="row" *ngIf="!loading">
    <div class="col-md-4 col-ks-12">
        <img [src]="imagen | imagen" class="card-img-top mr-auto ml-auto" alt="portada comic" height="500">
    </div>

    <div class="col-md-8 col-xs-12">
        <h3></h3>
        <br>

        <h5>Fecha de publicación:</h5>
        <p></p>
        <br>

        <h5>Escritor(es):</h5>
        <p></p>
        <br>

        <h5>Coloreador(es):</h5>
        <p></p>
        <br>

        <h5>Personaje(s):</h5>
        <p></p>
        <br>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <p></p>
    </div>
</div>